.app {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.app .appBlock{
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 0px black;
}
